*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background: rgb(10, 119, 74);
    font-family: 'Dongle', sans-serif;
}

.text{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 35px;
    color: rgb(228, 231, 54);
    letter-spacing: 2px;
    line-height: 50px;
}

.app{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0px 0px 12px 0px;
}

.card{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    overflow: hidden;
    padding: 12px;
    background: #b0e6bd8c;
    color: #eeecec;
    max-height: max-content;
    justify-content: space-between;
}

.card img{
    width: 80%;
    border-radius: 100%;
    margin: 20px auto;
}

.card .desc{
    width: 65%;
    max-height: 150px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 20px;
    line-height: 15px;
}

.card .cardMain{
    width: 30%;
    font-size: 18px;
    line-height: 15px;
}